<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
</head>
{% include 'head.html' %}
<body>
{% include 'navbar.html' %}
{% load static %}
<div class="g-bg-position--center g-bg-color--white">
    <div class="g-container--md g-text-center--xs g-padding-y-20--xs g-margin-t-100--xs">
        <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--dark g-letter-spacing--2 g-margin-b-25--xs">CovidScan.ai</p>
        <h1 class="g-font-size-40--xs g-font-size-50--sm g-color--red g-letter-spacing--1">Meet the Team</h1>
    </div>
</div>
<!-- Speakers -->
<div class="container g-padding-y-50--xs">
    <div class="row g-overflow--hidden">
        <div class="col-sm-6 col-md-4 g-full-width--xs g-margin-b-30--xs g-margin-b-0--lg">
            <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-250--lg">
                <img class="img-responsive g-width-100-percent--xs" src="{% static 'img/team/vily.jpg' %}" alt="Image">
                <div class=" g-padding-x-30--xs g-padding-y-20--xs">
                    <div class="text-center">
                        <h4 class="g-font-size-22--xs g-font-size-22--sm g-color--primary g-margin-b-0--xs">Vi Ly</h4>
                        <p><span class="g-font-weight--400">ML Developer</span><br>I help with clinical background research and write-up submission.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 g-full-width--xs g-margin-b-30--xs g-margin-b-0--lg">
            <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-250--lg">
                <img class="img-responsive g-width-100-percent--xs" src="{% static 'img/team/sagar.jpg' %}" alt="Image">
                <div class=" g-padding-x-30--xs g-padding-y-20--xs">
                    <div class="text-center">
                        <h4 class="g-font-size-22--xs g-font-size-22--sm g-color--primary g-margin-b-0--xs">Sagar Bansal</h4>
                        <p><span class="g-font-weight--400">Full-stack Developer</span><br>I worked on this project as a full stack developer. I have implemented the backend with the redis streams and redisAI module. I also designed the architecture of the system.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 g-full-width--xs g-margin-b-30--xs g-margin-b-0--lg">
            <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-250--lg">
                <img class="img-responsive g-width-100-percent--xs" src="{% static 'img/team/moksha.png' %}" alt="Image">
                <div class=" g-padding-x-30--xs g-padding-y-20--xs">
                    <div class="text-center">
                        <h4 class="g-font-size-22--xs g-font-size-22--sm g-color--primary g-margin-b-0--xs">Moksha Nirvaan</h4>
                        <p><span class="g-font-weight--400">Cloud Engineer</span><br>Conducted background research and helped implement the redisAI module for the project.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- End Speakers -->

{% include 'footer.html' %}
{% include 'scripts.html' %}
</body>
</html>
